<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar-bot">
    <ion-tab-button tab="tab1">
      <ion-icon size="medium" name="medical"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab-item">
      <ion-icon size="medium" name="medkit"></ion-icon>
      <ion-label>Medication</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3" class="tab-item">
      <ion-icon size="medium" name="logo-android"></ion-icon>
      <ion-label>Tomasulo 2</ion-label>
    </ion-tab-button> -->

    <!--<ion-tab-button tab="tab4" class="tab-item">
      <ion-icon size="medium" name="qr-scanner"></ion-icon>
      <ion-label>QR scanner</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
