


<ion-content fullscreen class="ion-padding">
  <ion-input type="string" placeholder="Username"> </ion-input>
  <ion-input type="string" placeholder="Password"> </ion-input>
  <ion-button>Submit</ion-button>
</ion-content>

